/brova
/cb
/deldo
/euroshoe
/gerritse
/ijzerwaren
/infomerce
/jquerymobile
/library/Zend
/mobiel
/rdc
/sana
/sisow
/u1
/ws_infomerce

/link/conf.php

/score/*.gz
/score/CustomerProfile/*.txt
/score/CustomerTransactions/*.txt